---
layout: default
---

<h2><span style="color: #550000;">A <em>Colophon</em> is...</span></h2>
<p style="padding-left: 30px;">"A Greek word meaning finishing touch or summit."</p>
<p style="padding-left: 30px;">"...a publisher's symbol or device formerly placed at the end of a book but now more generally used on the title page or elsewhere near the beginning. The function of colophons is to identify the publisher."</p>
<p style="padding-left: 60px;">-A Handbook to Literature (1960) - Thrall / Hibbard / Holman</p>
<h2><span style="color: #550000;">To our readers:</span></h2>
<p>As we embark on yet another academic year, we are incredibly excited to begin accepting submissions for the 61st volume of <em>Colophon</em>. We welcome all current Towson High School students to submit their work via the <strong>Submit</strong> page on this site.</p>
<p>We are also extremely grateful to the Towson High School&rsquo;s Alumni Association for having all past editions of <em>Colophon</em> professionally archived and digitized.  We are in the process of adding them to <strong>Archive</strong> page on this site as part of our mission to make them freely available to our Towson Hgih School community.</p>
<p>We are thrilled to continue our work this year, honoring some of Towson High School's most gifted and creative individuals.  We hope this year's publication, along with these newly digitized publications, brings even a little of the light and creativity that Towson High School embodies into your homes. We look forward to continuing our dedication to the arts, artists, and the artistic spirit, both here and everywhere.</p>
<p>Thank you from all of us at <em>Colophon</em></p>

<img src="/source/images/colophon.jpg" alt="Colophon Image" style="max-width:100%; height:auto; display:block; margin-bottom: 15px;">
